/* .lang-sel { display: none!important; } */

/* Fix LOGO on IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #logo{
		background: url('../img/worldwide-logo.png') center center no-repeat;
		background-size: contain;
		width:269px;
		height:74px;
		background-size: 96%;
	}
}

@media (max-width: 1220px) {
	
	#header .container {
/* 		width: 100%; */
	}
	
	#header #menu-main-menu > li > a {
		font-size: 14px;
	}
	
	.main-content h1 {
		font-size: 1.8rem;
	}
	
	.main-content h2 {
		font-size: 1.6rem;
	}
	
	.page-template-contact-us .main-content h2 {
		font-size: 1.6rem;
	}
	
}

@media (max-width: 1080px) {

	.current-study header h2 {
		font-size: 1.4rem;
	}

}

@media (max-width: 992px) {
	
	.hero h1 {
		font-size: 1.8rem;
	}
	
	.hero h2 {
		font-size: 1.8rem;
	}
	
	.hero h3 {
		font-size: 1.6rem;
	}
	
	.hero h4 {
		font-size: 1rem;
	}
	
	.hero h5 {
		font-size: .9rem;
	}
	
	.hero h6 {
		font-size: .8rem;
	}
	
	.main-content h1 {
		font-size: 1.6rem;
	}
	
	.main-content h2 {
		font-size: 1.3rem;
	}
	
	.main-content h3 {
		font-size: 1rem;
	}
	
	.main-content p {
		font-size: .8rem;
	}
	
	.main-content ul li {
		font-size: .7rem;
	}
	
	.widget.widget_simple_text > p {
		font-size: .7rem;
	}
	
	.widget.widget_green_box, .widget.widget_green_box > p {
		font-size: .7rem;
	}
	
	.widget.widget_green_box .btn {
		font-size: .7rem;
		padding: 10px 10px;
	}
		
	.widget.widget_green_box h2 {
		font-size: 1rem;
	}
	
	.block_text_image h1 {
		font-size: 1.4rem;
	}
	
	.block_text_image h2 {
		font-size: 1.1rem;
	}
	
	.block_text_image h3 {
		font-size: 1rem;
	}
	
	.block_text_image p {
		font-size: .9rem;
	}
	
	.block_text_side_button h1 {
		font-size: 1.2rem;
	}
	
	.block_global_address h1 {
		font-size: 1.2rem;
	}
	
	.block_global_address .global-country h2 {
		font-size: 1rem;
	}
	
	.three_columns_block h2 {
		font-size: 1.2rem;
	}
	
	.three_columns_block h4 {
		font-size: 1rem;
	}
	
	.three_columns_block p {
		font-size: .8rem;
		margin-top: 10px;
	}
	
	.hero-lines {
		top: 80px;
		bottom: 100px;
	}
	
	.hero.hero-lg .container {
		height: 360px;
	}
	
	.hero.hero-md .container {
		height: 300px;
	}
	
	.five_items_button h1, .external_form h1, .vertical_items_button h1, .simple_text h1, .block_participate_sms h1 {
		font-size: 2rem;
	}

	.five_items_button h2, .external_form h2, .vertical_items_button h2, .simple_text h2, .block_participate_sms h2, .block_location_map h2 {
		font-size: 2rem;
	}
	
	.page-template-tpl-participate-faq h2 {
		font-size: 1.8rem;
	}
	
	.widget.as-accord-holder .btn-holder {
		padding: 10% 20%;
	}
	
	.widget.as-accord-holder a.btn, .widget.assay-widget a.btn {
		padding: 10px 0!important;
	}
	nav.hero-menu ul {
		padding: 0;
	}
	nav.hero-menu ul li a {
		padding: 0 12px;
		font-size: 13px;
	}
	
	.current-study header {
		min-height: 100px;
		padding: 15px 15px;
	}
	
	.current-study header h2 {
	    font-size: 1.1rem;
	}
	
	.image_gallery h2 {
		font-size: 1.6rem;
	}
	
	.image_gallery h3 {
		font-size: 1.4rem;
	}
}

@media (max-width: 768px) {

	nav.hero-menu ul {
		padding:0;
	}
	nav.hero-menu ul li {
		display: block;
		border-top: 1px solid #005177;
	}
	nav.hero-menu ul li:first-child {
		border-top: none;
	}
	nav.hero-menu ul li a {
		padding: 0;
		line-height: 36px;
		height: 36px;
		display: block;
		font-size: 12px;
	}
	.block_location_map {
		padding-bottom: 0 !important;
	}
	.block_location_map .mapouter {
		position: initial;
		height: 300px;
		margin-top: 30px;
		width: 100%;
	}
	
	.main-content h1 {
		font-size: 1.3rem;
	}
	
	.main-content h2 {
		font-size: 1rem;
	}
	
	.block_service .col-2 {
		background-size: contain;
	}
	
	.block_service p {
		font-size: .8rem;
	}
	
	.block_service h2 {
		font-size: 1.1rem;
	}
	
	.block_text_image h1 {
		font-size: 1.2rem;
	}
	
	.block_text_image h2 {
		font-size: 1rem;
	}
	
	.block_text_image h3 {
		font-size: .9rem;
	}
	
	.block_text_image p {
		font-size: .8rem;
	}
	
	.leadership-name h2 {
		font-size: 1rem;
	}
	
	.leadership-title {
		font-size: .8rem;
	}
	
	.team-members .col-12 h2 {
		font-size: 1.3rem;
	}
		
	.hero h1 {
		font-size: 1.5rem;
	}
	
	.hero-lines {
	    top: 11%;
	    bottom: 14%;
	}	

	.hero.hero-lg .container {
		height: 275px;
	}
	
	.hero.hero-md .container {
		height: 200px;
	}
	
	.five_items_button h1, .external_form h1, .vertical_items_button h1, .simple_text h1, .blog .blog-post h1, .single .main-content h1, .block_participate_sms h1 {
		font-size: 1.6rem;
	}

	.five_items_button h2, .external_form h2, .vertical_items_button h2, .simple_text h2, .blog .blog-post h2, .single .main-content h2, .block_participate_sms h2, .block_location_map h2 {
		font-size: 1.6rem;
	}
	
	.page-template-tpl-participate-faq h2 {
		font-size: 1.5rem;
	}
	
	.accordian li h3 {
		font-size: 1rem;
	}
	
	.accordian-content p {
		font-size: .8rem;
	}
	
	section p {
		font-size: .9rem;
	}
	
	section li {
		font-size: .8rem;
	}
	
	.widget.as-accord-holder .btn-holder {
		padding: 2%;
	}
	
	.widget.assay-widget a.btn {
		margin: 10px 5px;
	}
	
	.page-template-tpl-blocks-inner .widget.widget_simple_text > p {
		padding-left: 0;
	}
	
	.btn, #sharestudyform .gform_next_button, .btn, #sharestudyform .gform_next_button, #sharestudyform .gform_previous_button {
		font-size: .8rem;
	}
	
	.SumoSelect {
	    width: auto;
	    margin-bottom: 3%;
	}
	
	.posts-filter .posts-filter-left {
		width: 100%;
		max-width: unset;
		flex: unset;
		margin-bottom: 2%;
		text-align: center;
	}
	
	.posts-filter .blog {
	    display: block;
	    float: none;
	    clear: both;
	    width: 80%;
	    max-width: 100%;
	    flex: unset;
	    margin: 0 auto;
	}
	
	.posts-filter #apply-filter {
	    display: inline-block;
	    vertical-align: middle;
	    width: auto;
	    margin-bottom: 1.5%;
	}
	
	.posts-filter .blog .form-control {
		font-size: .8rem;
	}
	
	.current-study header {
		min-height: auto!important;
	}
	
	.current-study .study-info {
		min-height: auto!important;
		font-size: .8rem;
	}
	
	.current-study .study-btns {
		text-align: center;
	}
	
	.study-btns .btn {
		margin: 0 auto 10px;
		max-width: 180px;
	}
	
	.award-box-horizontal .award-box-image {
		text-align: center;
	}
	
	.award-box-horizontal .award-box-image img {
		min-width: 200px;
		max-width: 70%;
		-webkit-transform: none;
		transform: perspective(1px) translateY(0%);
		top: auto;
	}
	
	.award-box-vertical .award-box-border header {
		text-align: center;
	}
	
	.award-box-vertical .award-box-border header img {
		min-width: 200px;
		max-width: 70%;
	}
	
	.two-colum .col, .page-template-contact-us .simple_text .container .row .col {
		width: 99%;
		-webkit-flex-basis: auto;
		flex-basis: 100%;
		
	}
	
	.page-template-contact-us .simple_text .row .col:last-child {
		border-left: none;
	}
	
	.page-template-contact-us .simple_text .row .col:last-child .contact-content-box {
		padding-left: 0;
		margin-top: 20px;
	}
	
	article.event-post header .event-date {
		font-size: 18px;
	}
	
	.blog .widget.search_form_widget input, .single .widget.search_form_widget input {
		font-size: .8rem;
	}
	
	.styled-select select, .styled-date select {
		font-size: .8rem;
	}
}

@media (max-width: 700px) {
	
	.hero.hero-lg .hero-lines {
		display: none;
	}
	
	.hero.hero-md .hero-lines {
		display: none;
	}
	
	.block_text_side_button h1 {
		font-size: 1rem;
	}
	
	.block_global_address h1 {
		font-size: 1rem;
	}
	
	
	.block_global_address .global-country h2 {
		font-size: .8rem;
	}
	
	
}

@media (max-width: 640px) {

	.external_form .mktoForm .mktoFormRow {
		width: 96%;
		float: none;
		
	}
	
	.external_form .mktoButtonWrap {
		margin-left: 0!important;
	}
	
	.five_items_button h1, .external_form h1, .vertical_items_button h1, .simple_text h1, .blog .blog-post h1, .single .main-content h1 {
		font-size: 1.4rem;
	}
	
	.five_items_button h2, .external_form h2, .vertical_items_button h2, .simple_text h2, .blog .blog-post h2, .single .main-content h2, .image_gallery h2 {
		font-size: 1.4rem;
	}
	
	.block_participate_sms h1 {
		font-size: 1.1rem;
	}

	.block_participate_sms h2, .block_location_map h2 {
		font-size: 1rem;
	}
	
	.block_participate_sms .text-white p {
		padding: 0 10%;
	}
	
	.page-template-tpl-participate-faq h2 {
		font-size: 1rem;
	}
	
	.hero.hero-lg .container {
/* 		height: 250px; */
		height: auto;
	}
	
	.hero.hero-md .container {
/* 		height: 160px; */
		height: auto;
	}
	
	
	.hero.hero-lg .container .hero-white-border {
		position: relative;
		top: unset;
		transform: none!important;
	}
	
	.hero.hero-md .container .hero-white-border {
		position: relative;
		top: unset;
		transform: none!important;
	}
	
	.accordian li h3 {
		font-size: .8rem;
	}
	
	.accordian-content p {
		font-size: .6rem;
	}

	.main-content h1 {
		font-size: 1rem;
	}
	
	.main-content h2 {
/* 		font-size: .85rem; */
	}
	
	.select-style select {
		font-size: .75rem;
	}
	
	.select-style:after {
		width: 40px;
	}
	
	.page-template-contact-us .main-content h2 {
		font-size: 1.2rem;
	}
	
	.external_form h3 {
		font-size: 1.2rem;
	}
	


}

@media (max-width: 580px) {
	
	.current-study header {
		min-height: unset;
	}
	
	.block_participate_info .middle p {
		border: none;
	}
	
	.soc-links {
	    margin-left: 15%;
	    margin-right: 3%;
    }
    
	.leadership-image {
		text-align: center;
	}    
	
	.leadership-image img {
		max-width: 80%;
	}
	
	.news-posts-list aside {
		margin-top: 5%;
	}
	
}

@media (max-width: 555px) {

	.hero .my-auto {
		margin-right: 0;
		padding: 30px 30px;
	}
	
	.five_items_button h1, .external_form h1, .vertical_items_button h1, .simple_text h1, .blog .blog-post h1, .single .main-content h1, .block_participate_sms h2 {
		font-size: 1.2rem;
	}
		
	.five_items_button h2, .external_form h2, .vertical_items_button h2, .simple_text h2, .blog .blog-post h2, .single .main-content h2, .block_participate_sms h2, .block_location_map h2, .image_gallery h2 {
		font-size: 1.2rem;
	}

	.five_items_button p, .external_form p, .vertical_items_button p, .simple_text p {
		font-size: .8rem;
	}
	
		
	.image_gallery h3 {
		font-size: 1rem;
	}

	
	section p {
		font-size: .8rem;
	}
	
	section li {
		font-size: .7rem;
	}
	
	.page-template-tpl-participate-faq h2 {
		font-size: .8rem;
	}
	
	.external_form h3 {
		font-size: 1rem;
	}
	
}

@media (max-width: 540px) {
	
	.select-style select {
		font-size: .55rem;
	}
	

}


@media (max-width: 520px) {

	#sharestudyform .modal-dialog {
		left: auto;
		max-width: 100%;
		margin: 0 auto;
		padding: 3%;
	}
	

}

@media (max-width: 500px) {

	.external_form .mktoForm input[type=text], .external_form  .mktoForm input[type=url], .external_form .mktoForm input[type=email], .external_form  .mktoForm input[type=tel], .external_form  .mktoForm input[type=number], .external_form  .mktoForm input[type=date], .external_form  .mktoForm select.mktoField, .external_form  .mktoForm textarea.mktoField {
		
		font-size: 12px;
		--padding: 6%;
		
	}
	
	.external_form .mktoForm textarea.mktoField {
		height: 50px;
		padding: 2% 6%;
	}
	
	.external_form .mktoForm .mktoFormRow.full-area {
		padding-top: 0;
	}
	
	
	.external_form .mktoForm select.mktoField {
		padding: 2% 6%;
	}
	
	.col {
        -webkit-justify-content: flex-end;
		-webkit-align-items: flex-end;
	}

	.main-content iframe {
		height: auto;
	}
	
	.soc-desc p {
		font-size: .7rem;
	}
	
}