.vertical-center,.vertical-center-content>*{position:relative;top:50%;transform:perspective(1px) translateY(-50%)}
table.gfield_list.gfield_list_container {
	width: 100%;
}
.wwc-form label {
    margin-bottom: 28px;
}.investigators-form .gfield_list_group {    display: table-row;}.gfield_list_cell {    padding-bottom: 10px;}.gfield_list_cell:first-child {    padding-right: 12px;    width: 70%;}body .ginput_container_list table.gfield_list tbody tr td.gfield_list_icons img.add_list_item, body .ginput_container_list table.gfield_list tbody tr td.gfield_list_icons img.delete_list_item {    max-width: 16px;}



.investigators-form .gform_page_footer {
	clear: both;
	text-align: center;
}
.investigators-form .col-md-4 {
	padding: 0 .5%!important;
	width: 33.33%;
}
.investigators-form .repeater-a,
.investigators-form .repeater-b {
	padding: 0 .5%!important;
	display: inline-block;
	float: none;
}
.investigators-form .repeater-a:nth-child(1n+1),
.investigators-form .repeater-a:nth-child(2n+1) {
	width: 40%;
}
.investigators-form .repeater-a:nth-child(3n+1) {
	width: 20%;
}
.investigators-form .repeater-b:nth-child(even) {
	width: 20%;
}
.investigators-form .repeater-b:nth-child(odd) {
	width: 80%;
}
.width-20 {
	width: 20%;
	display: inline-block;
	float: none;
}
.width-40 {
	width: 40%;
	display: inline-block;
	float: none;
}
.width-60 {
	width: 60%;
	display: inline-block;
	float: none;
}
.width-80 {
	width: 80%;
	display: inline-block;
	float: none;
}
.investigators-form .col-md-6 {
	padding: 0 .5%!important;
	width: 48.5%;
}
.investigators-form .col-md-12 {
	padding: 0 .5%!important;
	width: 95.50%;
}
.investigators-form select {
  border-radius: 10px;
  height: 45px;}
.investigators-form .gfield_radio .checkbox-list-vertical.checkbox label::before {
	content: unset;
}

.investigators-form .gfield_radio .checkbox-list-vertical.checkbox label {
	display: inline;
	margin-left: 2%;	
}

.investigators-form .button {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
	border: medium none;
    border-radius: 50px;
    color: #ffffff;    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.25s ease 0s, color 0.25s ease 0s;
	line-height: 40px;
	min-width: 148px;
	padding: 0 15px;
	margin-top: 20px;
}

.investigators-form .gf_progressbar_wrapper {
	border-bottom: 1px solid #999;
	padding-bottom: 2%;
	margin-bottom: 3%;
}

.investigators-form .validation_error {
	color: red;
	text-align: center;
	font-style: italic;
}

.investigators-form .validation_message {
	color: red;
	text-align: center;
	font-style: italic;
	font-size: 13px;
}

.investigators-form .gfield_contains_required .validation_message {
	clear: both;
	width: unset!important;
	font-style: italic;
}

.investigators-form .gfield_list_group {
	margin-bottom: 2%;
/* 	display: block; */
}

.investigators-form .gfield_list_icons {
	padding-left: 2%;
}

.investigators-form .gsection {
	clear: both;
}


.investigators-form li.checkbox {
	margin-bottom: 4%!important;
}

.investigators-form .gfield_contains_required {
	overflow: hidden;
}

.investigators-form .gfield_contains_required .ginput_container {
	float: left;
	width: 95%;
}

.investigators-form .gfield_contains_required .gfield_description {
	float: left;
	color: red;
	font-size: 1.2em!important;
	font-weight: bold;
	text-align: center;
	width: 5%;
}

.investigators-form .gfield_contains_required .gfield_description.validation_message {
	font-size: 11px!important;
}

.investigators-form select {
	color: #565b5e;
	font-size: 18px;
	height: 45px;
    line-height: 45px;
}

.investigators-form .choices-single-row ul {
	margin-bottom: 3%;
}

.investigators-form .choices-single-row li.checkbox {
	display: inline;
}

.investigators-form .choices-single-row li.checkbox label {
	margin-right: 10px;
}

.investigators-form .checkbox-list-vertical {
	margin-bottom: 0!important;
}

.investigators-form .phase-step > * {
	display: inline !important;
}
.investigators-form .phase-step input[type="email"],
.investigators-form .phase-step input[type="text"] {
	display: inline !important;
	width: 60px;
	text-align: center;
	padding-left:5px;
	padding-right:5px;
}
.investigators-form .phase-step label {
	margin-right: 8px;
}


.investigators-form .phase-last {
	padding-top: 9px!important;
}

.investigators-form .list-split-two-cols ul {
	clear: both;
	overflow: hidden;
}

.investigators-form .list-split-two-cols .checkbox-list-vertical {
	float: left;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0!important;
	width: 50%;
}

.investigators-form .ginput_container_list table.gfield_list tbody tr td.gfield_list_icons img.add_list_item, .investigators-form .ginput_container_list table.gfield_list tbody tr td.gfield_list_icons img.delete_list_item {
	height: unset!important;
	width: unset!important;
	opacity: unset!important;
	max-width: unset!important;
}

.investigators-form .research-label h3 {
	font-size: 16px;
	font-weight: 700;
	color: #565b5e;
}

.investigators-form .hideonload {
	display: none;
}

.investigators-form .gf_repeater_child_field label {
margin-top:5%;
margin-bottom: 5%;
}

.investigators-form .gf_repeater_child_field:nth-child(1) label {
	color: red;
}

.investigators-form .gf_repeater_add .gf_repeater_add_default {
	background-image: url('http://147.75.128.123/~pthdevco/worldwide.com/wp-content/uploads/2016/11/add.gif');
	background-repeat: no-repeat;
    background-size: 82px 26px;
    height: 26px;
    width: 82px;

}

.investigators-form .gf_repeater_remove .gf_repeater_remove_default {
	background-image: url('http://147.75.128.123/~pthdevco/worldwide.com/wp-content/uploads/2016/11/remove.gif');
	background-repeat: no-repeat;
    background-size: 123px 26px;
    height: 26px;
    width: 123px;

}
.investigators-form .repeater {
	margin-bottom: 40px;
	clear: both;
    display: block;
}
.investigators-form .gf_repeater_child_field {
	margin-bottom: 10px;
}
[data-repeater-repeatid] label {
    display: none;
}

[data-repeater-repeatid="1"] label {
    display: block;
}
body .ginput_container_list table.gfield_list tbody tr td.gfield_list_icons img.add_list_item, 
body .ginput_container_list table.gfield_list tbody tr td.gfield_list_icons img.delete_list_item,
.gf_repeater_add .gf_repeater_add_default, 
.gf_repeater_remove .gf_repeater_remove_default {
    opacity: initial !important;
}
body .ginput_container_list table.gfield_list tbody tr td.gfield_list_icons img.add_list_item:hover, 
body .ginput_container_list table.gfield_list tbody tr td.gfield_list_icons img.delete_list_item:hover,
.gf_repeater_add .gf_repeater_add_default:hover, 
.gf_repeater_remove .gf_repeater_remove_default:hover {
    opacity: 0.7 !important;
}

.investigators-form .numberoftrials {

}

.white-text * {
	color: #fff;
}
.career-departments,
.career-departments li {
	list-style: outside none none;
}
.career-departments li {
	display: inline-block;
	margin: 0 15px;
	margin-top: 15px;
	padding: 0;
}
.career-departments,
.department-icon:hover {
	text-decoration: none;
}
.department-icon:hover {
	color: #ddd;
}
.department-icon:hover i {
	color: #eee;
}
.department-icon i {
	font-size: 60px;
	padding: 30px;
	width: 130px;
	background-color: #9ce;
	display: table;
}

.leadership-member-summary .leadership-name h2 {
	font-size: 24px;
}
.leadership-member-summary {
    height: 420px;
	margin-bottom: 20px;
}
.leadership-member-summary .leadership-image::before {
	background: none;
}
.leadership-member-summary a .leadership-image img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(0%); /* Chrome 19+ & Safari 6+ */
	opacity: 1;
}
.leadership-member-summary a:hover .leadership-image img {
	filter: none;
	-webkit-filter: grayscale(100%);
}
.hero-image-webpart.hero-video-webpart.mobile-scaled,
.hero-image-webpart.hero-video-webpart.mobile-scaled .img-bg {
	--height: 100% !important;
	max-height: 100% !important;
	min-height: 300px !important;
}
.hero-video-webpart,
.hero-video-webpart video {
	
	min-height: 300px !important;
	max-height: 100% !important;
	--height: 100% !important;
	--width: 100% !important;

}
.hero-video-webpart video {
	--max-width: 1170px;
	position: relative;
	background-size: 100% 100%;
	margin: 0 auto;
	display: block;
	top: 0;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    --width: 100%;
    --height: 100%;
    z-index: 0;
    overflow: hidden;
    margin-left: -50%;
}

.dark-image .btn {
	text-decoration: none !important;
}
.dark-image .btn-hollow:hover {
    color: #2c2d32;
}
.dark-image .btn-hollow:hover {
    color: #2c2d32;
}
/* ie fix */
.hero > .container{
    width: 100% !important;
}

@media (max-width: 675px) {
  .investigators-form .col-xs-12 {
	  width: 100%!important;
  }
  .investigators-form .col-md-12 {
	  width: 100%!important;
  }
}
@media (max-width: 768px) {
	
  .investigators-form .list-split-two-cols .checkbox-list-vertical {
		float: none;
		margin-bottom: unset;
		width: unset;
	}
}